<th:block th:fragment>
    <div class="container justify-content-center mt-3">
        <div class="jumbotron jumbotron-background d-flex justify-content-center">
            <div class="container">
                <div class="col-md-12 d-flex justify-content-center">
                    <h1 class="myBackgroundColor">Import JSON</h1>
                </div>
                 <hr class="hr-background my-hr"/>
                <th:block th:if="${areImported[0] != true || areImported[1] != true} ">
                    <div class="col-md-12 d-flex justify-content-center">
                        <h5 class="myBackgroundColor">Click the buttons below to import JSON.</h5>
                    </div>
                </th:block>
                <div class="col-md-12 d-flex justify-content-center">
                    <th:block th:if="${areImported[1] == false}">
                        <a class="btn btn-info mx-5 my-5" th:href="@{/import/towns}">Import Towns</a>
                    </th:block>
                    <th:block th:if="${areImported[0] == false}">
                        <a class="btn btn-info mx-5 my-5" th:href="@{/import/teams}">Import Teams</a>
                    </th:block>
                    <th:block th:if="${areImported[0] == true && areImported[1] == true} ">
                        <p class="bg-dark rounded p-2">All JSON files are imported.</p>
                    </th:block>
                </div>
            </div>
        </div>
    </div>
</th:block>